ansible==7.0.0
ansible-core==2.11.1
certifi==2024.7.4
cffi==1.14.5
chardet==4.0.0
cryptography==44.0.1
idna==2.10
importlib-metadata==4.5.0
jeepney==0.6.0
Jinja2==3.1.6
keyring==23.0.1
lastpass-python==0.3.2
MarkupSafe==2.0.1
packaging==20.9
pycparser==2.20
pycryptodome==3.10.1
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.25.1
resolvelib==0.5.4
SecretStorage==3.3.1
urllib3==1.26.19
zipp==3.19.1
